* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.score-board-container {
    width: 70%;
    height: 20%;
    border: 1px solid #32ff00;
}

.display-cmt-container {
    width: 80%;
    height: 40%;
    border: 1px solid #00feff;
}

.user-choices-container {
    width: 70%;
    height: 20%;
    border: 1px solid #cd00ff;
}