* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.score-board-container {
    width: 70%;
    height: 20%;
    border: 1px solid #d7d8d8;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#display-cmt-container {
    width: 80%;
    height: 40%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* User box style section */
.user-choices-container {
    width: 70%;
    height: 20%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container contain the img of rock/paper/scissor */
.user-choices-outer {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

/* class for user choice selection - adjust the appearance of the choices */
.user-choice {
    width: 100px;
    padding: 10px;
    cursor: pointer;
}

.user-choice-btn {
    background: white;
    border: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease-in-out;
}

.user-choice-btn:hover {
    transform: translateY(-5px);
}